<config>
    <recordsPath>/mnt/hdd/FTP/FI9900P_00626E63C3FB/record/</recordsPath>
    <credentials>
        <user0>matteo</user0>
        <password0>*****</password0>
        <user1>matteoo</user1>
        <password1>matteoo</password1>
        <user2>matteov</user2>
        <password2>matteov</password2>
    </credentials>
    <ipCamUrl>
        <url>http://10.0.1.182:88</url>
    </ipCamUrl>
    <ipCamParams>
        <ipCamModelName>FI9900P</ipCamModelName>
    </ipCamParams>
</config>