<config>
    <recordsPath>/mnt/hdd/FTP/FI9828W_00626E55DA86/record/</recordsPath>
    <credentials>
        <user0>matteo</user0>
        <password0>*****</password0>
        <user1>matteoo</user1>
        <password1>matteoo</password1>
        <user2>matteov</user2>
        <password2>matteov</password2>
    </credentials>
    <ipCamUrl>
        <url>http://192.168.1.238:88</url>
    </ipCamUrl>
</config>